/* Selector {
    Property : value;
} */
* {
    text-align: right;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
}
div {
    color: lightcyan;
    text-align: justify;
}
h1 {
    color : #C8A600;
    background-color: black;
    font-size : 50px;
    text-align: center;
    border : 5px solid silver;
    
}

ul :hover{
    text-align:  center;
    color: aliceblue;
    font-size : 25px;
    padding-inline-start: 0%;
    
}
li {
    border : 1px solid rgb(255, 255, 255);
    list-style: none;
    display: inline-block;
}
footer{
    color : pink;
}
.webtext {
    border: 5px dashed green;
    color : white;
    text-align:  center;
    font-size: larger;
}
.active  {
    color:  red;
}
#div1 {
    background-color:  rgba(0,0,255,0.2);
}
#div2 {
    background-color:  rgba(255,0,0,0.2);
}
p {
    color :rgb(255, 255, 255);
    text-transform: uppercase;
    line-height:  25px;
    font-style: italic;
    font-weight: 900;
    font-size : 15px;
    font-family: 'Times New Roman',serif;
}
img {
    border: red 1px solid;
    float: left-block;
}