body {
  margin: 0;
  padding: 0;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
#navbar {
  background-color: white;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-logo {
  width: 25%;
  justify-content: flex-end;
  align-items: center;
}
#logo {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.navbar-item {
  width: 75%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-item > ul {
  display: flex;
  list-style: none;
  height: 100%;
  width: 30%;
}

.menu-item {
  box-sizing: border-box;
  /* border: 2px black solid; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item a {
  text-decoration: none;
}
.menu-item:hover {
  background: linear-gradient(
    to bottom,
    rgb(242 255 251),
    rgb(49 155 252 / 35%)
  );
}

/* sign-up body ---------------------------- */

#signup-container {
  border: 2px solid black;
  box-shadow: 3px 2px 4px gray;
  min-height: 400px;
  height: 400px;
  width: 50%;
  margin: 0px auto;
  margin-top: 5%;
  padding: 2px 2px;
  display: block;
  background-color: white;
}

.signup-body-upper {
  background-color: bisque;
  display: flex;
  height: 80%;
}

.signup-form {
  width: 50%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-form > form {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: auto;
  background-color: rgba(68, 240, 243, 0.473);
  height: 100%;
  width: 100%;
  padding : 0;
}
.form-item{
  display: flex;
  /* border: 3px solid black; */
  width: 80%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
}

.form-item > label {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 30%;
  box-shadow: 3px 3px 4px black;
  align-items: center;

}
.form-item > input {
  height: 100%;
  width: 60%;
  border-radius: 25px;
  box-shadow: 3px 3px 4px black;
  padding : 0px 10px;
}
.submit-btn {
  height: 35px;
  width: 80%;
}
.signup-img {
  width: 50%;
  background-color: rgb(220, 113, 113);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-body-lower {
  background-color: pink;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#signup-img {
  width: 200px;
}
.other-methods-signup {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    
}
.other-methods-signup > a {
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 25px;
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}